<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue基础</title>
    
</head>
<body>
    <div id="app">
        <input type="button" value="添加菜单" @click="add">
        <input type="button" value="删除菜单" @click="remove">
        <ul>
            <li v-for="(it,index)  in arr">
                {{index+1}}{{it}}分公司
            </li>
        </ul>
        <h2 v-for="item in foods">{{item}}</h2>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
       var vm = new Vue({
           el:"#app",
           data:{
               arr:["北京","上海","广州","深圳"],
               foods:['红烧牛肉','清蒸羊羔','红烧紫萼','叫花鸡']
           },
           methods:{
               add:function(){
                    this.foods.push('肉肉')
               },
               remove:function(){
                    this.foods.shift()
               }
           }
       })
   </script>
</body>
</html>